.stat-label{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.summary-stat{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}